.Cont_shdw{
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgb(30, 30, 34);
}

#containerData{
    overflow: auto;
}

#editBtn{
    width: 80px;
}

#deleteBtn{
    width: 80px;
    margin-left: 10px;
}

#addBtn{
    width: 200px;
}



.mainTable{
    height: 50vh;
    overflow: auto;
}

.table1{
    text-align: center;
}

.tablerow{
    margin: 0;
    text-align: center;
}

#titleTable{

    font-weight: bold;
}

.registerData{
    background-image: linear-gradient(to right,rgb(23, 23, 23),rgb(108, 108, 108));
}
